@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-image: url("noise.png");
    /* background: #294A51; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-and-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-pic {
    overflow: hidden;
    margin: 10px;
    margin-top: -75px;
    margin-right: 40px;
}

.my-pic > img {
    object-fit: cover;
    height: 600px;
    width: 400px;
    border-radius: 15px;
    position: relative;
    object-position: 0px -10%;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #294A51;
}

h1 {
    font-size: 75px;
    margin-bottom: 25px;
}

.my-info {
    display: flex;
    flex-direction: column;
    
}

.fa {
    border-radius: 50%;
    font-size: 30px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 30px;
    margin: 2px;
}

a, a:visited {
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-linkedin {
    background: #007bb5;
}

.fa-medium, .fa-github {
    background: rgb(24, 24, 24);
}

/* .my-pic { */
    /* border-radius: 15px; */
    /* height: auto;
    width: auto;
    background-image: url(./winner.JPG);
    background-size: cover; */
    /* -ms-background-position-x: center;
	-ms-background-position-y: bottom;
    background-position: center center; 
    padding-top: 100px; */
    /* box-shadow: 0 0 200px #5c6364 inset; */
/* } */


/* .home {
    background-color: green;
    
}

.two {
    background-color: blue;
}
.three {
    background-color: yellow;
}

span {
    background: white !important;
} */