@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-image: url("noise.png");
    /* background: #294A51; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-and-image, .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts {
    margin-top: 50px;
}

.links {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.my-pic {
    overflow: hidden;
    margin: 10px;
    margin-top: -75px;
    margin-right: 40px;
}

.my-pic > img {
    object-fit: cover;
    height: 600px;
    width: 400px;
    border-radius: 15px;
    position: relative;
    object-position: 0px -10%;

}

h1, h2, h3, p {
    font-family: 'Montserrat', sans-serif;
    color: #294A51;
}

h1 {
    font-size: 75px;
    margin-bottom: 25px;
}

.my-info {
    display: flex;
    flex-direction: column;
}

.fa, .fas {
    border-radius: 50%;
    font-size: 30px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 30px;
    margin: 2px;
}

a, a:visited {
    color: white;
}

a.resume {
    color: #294A51
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-linkedin {
    background: #007bb5;
}

.fa-medium, .fa-github {
    background: rgb(24, 24, 24);
}

.fa-envelope {
    background: #dd4b39;
}

/* span {
    background: white !important;
} */

@media (min-width: 1400px) {
    
}